{% extends "base.html" %}
{% block title %}
  Events list
{% endblock %}
{% block content %}
  <ul>
    {% for event in object_list %}
      <li>
      <h3>
        <a class="title" href="">{{ event.nom }}</a>
        <a href="{{ event.get_absolute_url }}">(details)</a>
      </h3>
        <p>{{ event.date }}</p>
        <p>{{ event.lieu }}</p>
        {% for participant in event.evenement_participant_set.all %}
        <div class="well">
        {{ participant.participant }}
        </div>
        {% endfor %}
        <p><a href="{% url 'update_create' event.id %}">Modify</a></p>
      </li>
    {% endfor %}
  </ul>
  <p><a href="{% url 'update_create' %}">Create a new event</a></p>
  {% include "personal_calendar/blocks/pagination.html" %}
{% endblock content %}
