<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css" type="text/css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/global.css" type="text/css" />
  <title>
    {% block title %}
      Agenda partagé
    {% endblock %}
  </title>
</head>
<body>
  <div id="header"></div>
  <div id="menu"></div>
  <div id="content">
    {% block content %}
    "base.html"
    {% endblock content %}
  </div>
  <div id="footer">
  </div>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.datepicker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.datepicker-fr.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-custom.js"></script>
</body>
</html>
