<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>event: {{ event.nom }}</title>
</head>
<body>
  {% for participant in event.evenement_participant_set.all %}
    <p>{{ participant.participant }} | {{ participant.get_status_display }}
        <form method="POST" action="{% url 'delete_participant' event.id participant.participant.id %}">
        {% csrf_token %}
        <input type="submit" value="Remove" />
      </form>
    </p>
  {% endfor %}
  <h1>{{ event.nom }}</h1> 
  <p>{{ event.description }}</p>
  <p>{{ event.date }}</p>
  <p>{{ event.lieu }}</p>
  <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="créer" />
  </form>

  <form action="/agenda/{{ event.id }}/delete/" method="POST">{% csrf_token %}
    <input type="submit" value="Delete" />
  </form>
    <p><a href="/agenda/{{ event.id }}/update/">Modify</a></p>
</body>
</html>
